<!DOCTYPE html>
<html>
<body>

<h2>Upload and Process WAV File</h2>

<form action="/" method="post" enctype="multipart/form-data">
    Select audio file:
    <input type="file" name="audio" accept=".wav"><br>
    Select model:
    <select name="model_name">
    {% for model_file in model_files %}
        <option value="{{ model_file }}">{{ model_file }}</option>
    {% endfor %}
    </select><br>
    Set degredation magnitude:
    <input type="range" name="magnitude" min="0" max="1" step="0.01" value="0.5" oninput="updateValue(this.value)">
    <span id="value">0.5</span><br>
    <button type="submit">flosser ur sense</button>
</form>

<div id="player"></div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
$(document).ready(function(){
    $("form").on("submit", function(event){
        event.preventDefault();
        var formData = new FormData(this);
        $.ajax({
            url: '/',
            type: 'POST',
            data: formData,
            success: function(data){
                $("#player").html('<audio controls><source src="' + data.output_file_url + '" type="audio/wav">Your browser does not support the audio element.</audio>');
            },
            cache: false,
            contentType: false,
            processData: false
        });
    });
});

function updateValue(val) {
    document.getElementById('value').textContent = val;
}
</script>

</body>
</html>